.frame {
  height: 200px; /* can be anything */
  width: 200px; /* can be anything */
  position: relative;
}
.logo_ysbx {
  max-height: 500px;
  max-width: 500px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
a:hover {
  background-color: gray;
}
.line1 {
  display: flex;
  margin-top: 90%;
  align-items: center;
  justify-content: center;
}
.line1 a {
  margin: 0 12px;
}
.line2 {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}
.line2 a {
  margin: 0 5px;
}
