.frame {
  height: 200px; /* can be anything */
  width: 200px; /* can be anything */
  position: relative;
}
.logo_ysbx {
  max-height: 540px;
  max-width: 540px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.center {
  display: flex;
  margin-top: 80%;
  align-items: center;
  justify-content: center;
}
.center a {
  margin: 0 5px;
}
