body {
    font-family: 'Noto Sans KR', sans-serif;
    color: azure;
    margin: 0;
    padding: 0;
    background-color: purple;
    background-image: url("231007_024_trans.png");
    background-position-x: right;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
    margin-right: 50vw;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 900;
  }

  .intro a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: azure;
  }
  
  .intro a:hover {
    background-color: #ddd;
  }
  
  .social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: azure;
  }
  
  .social-links a:hover {
    background-color: #ddd;
  }
  
  .textbox {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: azure;
  }

  .comment {
    text-align: left;
    margin: 20px;
  }